# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#svngit:
.svn
.git


#ide:
.idea
.settings


#log:
logs/*.json
logs/*.log
logs/*.log.*

#nodejs:
node_modules

*.rar
*.zip
config.js


img/*.png
img/*.json